<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
<form action="#" th:action="@{/addSkierowanie}" method="post" th:object="${skierowanieDoLekarza}">
    <label for="lekarz">Lekarz: </label>
    <div class="alert alert-warning" th:if="${#fields.hasErrors('lekarz')}" th:errors="*{lekarz}">Musisz podać lekarza</div>
    <input type="text" th:field="*{lekarz}" id="lekarz"/>
    <label for="pacjent">Pacjent: </label>
    <p class="alert alert-warning" role="alert" th:if="${#fields.hasErrors('pacjent')}" th:errors="*{pacjent}">Musisz podać pacjenta</p>
    <input type="text" th:field="*{pacjent}" id="pacjent"/>
    <label for="termin">Termin: </label>
    <p class="alert alert-warning" role="alert" th:if="${#fields.hasErrors('termin')}" th:errors="*{termin}">Musisz podać imie</p>
    <input type="datetime-local" th:field="*{termin}" id="termin"/>
    <input type="submit">
</form>
</body>
</html>